@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital@1&family=Rancho&display=swap');

body {
  display: flex;
  justify-content: center;
  background: #F5FAFA;
  position: relative;
  margin: 0;
}

#main {
  width: 95%;
  background: #C3C7C7;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-top: 100px;
  margin-bottom: 700px;
  font-family: 'Overlock', cursive;
  font-size: 24px;
  padding-bottom: 70px;
}

/* front image */
#img-div {
  padding: 20px;
  margin-top: 30px;
  width: 95%;
  height: 700px;
  position: relative;
  top: -120px;
  background: linear-gradient(
    to right, 
    #272634 0%, 
    #272634 100% 
  );
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

#image {
  width: 700px;
  height: auto;
  object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 600px;
  z-index: 1;  
  outline: 7px solid white;
  outline-offset: -30px;
}

#img-caption {
  text-align: center;
  color: #646c64;
}

fieldset {
  border: 8px solid #272634;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: #537A7A;
  position: relative;
}

legend {
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: right;
  left: 80%;
  padding: 0 15px;
  background: #F5FAFA;
}

#tribute-info {
  width: 70%;
  color: #1c1816;
}

#tribute-info h1 {
  color: #F5FAFA;
   background: #537A7A;
  text-align: center;
  padding-top: 30px;
  height: 80px;
  margin-top: 100px;
  margin-bottom: 100px;
  outline-offset: 20px;
  outline: 5px solid #272634;
}

/* quotes list */
.quotes ul li{
  list-style-type: circle;
  margin: 50px;
}

.quotes ul{
    padding: 30px;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  background: #537A7A;
  margin-bottom: 70px;
  background: url("https://cdn3-www.comingsoon.net/assets/uploads/2018/09/robin-williams-come-inside-my-mind-ka-1920.jpg");
  font-family: 'Overlock', cursive;
  font-size: 24px;
  color: #F5FAFA;
}

footer p {
    padding: 30px;
    width: 30%;
    position: absolute;
    bottom: 0;
}


.side {
    width: 300px;
    height: 100%;
    position: relative;
    float: right;
    margin-right: 60px;
    display: flex;
    justify-content: center;
}

.tr {
    width: 200px;
    height: 200px;
    float: right;
    background: #537A7A;
    transform: rotate(45deg);
    position: relative;
    top: -100px;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    transition: all .5s;
}

h5 {
    position: absolute;
    padding: 10px;
    margin: 20px;
    border: solid 3px #FFFEFC;
    font-family: 'Overlock', cursive;
    border-radius: 5px;
    bottom: 0;
}

h5 a {
    color: #FFFEFC;
    text-decoration: none; 
}

h5:hover {
    background: white;
    color:#272634;
    transition: all 0.5s ease;
    box-shadow: inset 4px 4px 3px #272634;
}

h5:hover a{
    color:#272634;
}

.side:hover .tr{
   top: 160px;
   transform: rotate(-45deg);
} 

p a {
    color: #FFFEFC; 
}

