@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital@1&family=Rancho&display=swap');

body {
  display: flex;
  justify-content: center;
  background: #F5FAFA;
}

#main {
  width: 90%;
  background: #C3C7C7;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  margin-top: 40px;
  font-family: 'Overlock', cursive;
  font-size: 24px;
}

/* front image */
#img-div {
  padding: 20px;
  margin: 40px;
  width: 95%;
  position: relative;
}

#image {
  width: 800px;
  height: auto;
  object-fit: cover;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: 600px;
  box-shadow: 15px 10px 15px #494952;
}

#img-caption {
  text-align: center;
  color: #646c64;
}

#tribute-info {
  width: 70%;
  color: #1c1816;
}

#tribute-info h1 {
  color: #537A7A;
  text-align: center;
  padding-top: 30px;
}